/* 페이지 주소 */
/* #people{
  
}
#people nav{
  background-color: #0a92bd66;
  margin-top: -50px;
  position: relative;
  width: 100%;
}
#people nav ol{
  
}
#people nav ol li{
  text-align: center;
}
#people nav ol li:first-child{
  width: 60px;
  background-color: #317eac88;
  background-image: url(../img/home.svg);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  font-size: 0;
}
#people nav ol li:nth-child(n+2){
  
  width: 120px;
  border-left: 1px solid #ffffff40;
  border-right: 1px solid #ffffff40;
  color: #eee;
  align-items: center;
  display: flex;
  justify-content: center;
}
#people nav ol li a{
 display: block;
 line-height: 50px;
  color: white;
} */
/* 상단 */
#subtitle{
  height: 300px;
  position: relative;
  background-image: url(../img/subVisual4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  top: 80px;
  margin-bottom: 80px;
}
#subtitle div.wrap{
    
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}
#subtitle div.wrap h2{
  color: white;
}
#subtitle div.wrap button::after{
  content:"";
  border: 3px solid #fff;
  border-left-color: transparent;
  border-bottom-color: transparent;
  width: 10px;
  height: 10px;
  display: flex;    /* 인라인속성인 수평과 블럭속성인 너비지정이 가능하다 */
  transform: translateY(3px) rotate(45deg);
  margin-right: 13.5px;
  position: absolute;
  right: 0px;
}
#subtitle div.wrap button{
  border: none;
  position: absolute;
  right: 0;
  background-color: transparent;
  width: 140px;
  display: flex;
  justify-content: space-between;
  color: #fff;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  /*! width: 200px; */
}
#subtitle div.wrap button::before{
  content:"";
  border: 3px solid #fff;
  width: 35px;
  height: 35px;
  display: block;
  position: absolute;
  right: -3px;
  /*! top: calc((100% - 30px) / 2); */
  top: calc(100% - 32px);
  border-radius: 50%;
}